html {
  font-family: MathJax;
  font-size: 1.2em;
}

label,
textarea {
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  line-height: 1.5;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

input {
  display: inline-block;
  margin-bottom: 10px;
}
p#error {
  color: red;
  margin: 0.3em;
}

.user_input {
  margin: 15px 15px 55px 15px;
  padding: 5px;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 600px;
  border: 1px solid black;
  margin: 10px 10px 0px 10px;
  padding: 10px 10px 60px 10px;
}

.square {
  flex-grow: 1;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  line-height: 140px; /* don't ask */
}

.inner {
  height: 100%;
  /* width: 90%; */
  /* margin: 10%; */
}

span {
  background-color: white;
  padding: 0.3em;
}

.none {}

/* The following letters are from Jonsson and Moshfegh's paper */
/* A */
.plate-fin {
  background-image: url(./images/plain_fin.svg);
  background-size: 71%;
}

/* B */
.in-line-strip-fin {
  background-image: url(./images/inline_strip_fin.svg);
  background-size: 71%;
}

/* C */
.staggered-strip-fin {
  background-image: url(./images/staggered_strip_fin.svg);
  background-size: 71%;
}

/* D */
.in-line-circular-pin-fin {
  background-image: url(./images/inline_circular_fin.svg);
  background-size: 71%;
}

/* E */
.staggered-circular-pin-fin {
  background-image: url(./images/staggered_circular.svg);
  background-size: 71%;
}

/* F */
.in-line-square-pin-fin {
  background-image: url(./images/inline_square_fin.svg);
  background-size: 71%;
}

/* G */
.staggered-square-pin-fin {
  background-image: url(./images/staggered_square_fin.svg);
  background-size: 71%;
}

#fans {
    padding: 0 10px 10px 10px;
    display: flex;
}

.fan {
    width: 64.1px;
    height: 100px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    line-height: 110px;
}

.fan:nth-child(1n) {
    border-width: 0px 0px 1px 1px;
}
.fan:nth-child(8n) {
    border-width: 0px 1px 1px 1px;
}
